.profileHeaderStyling {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.15em solid black;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image {
  height: 4vh;
  width: 4vh;
}

.image:hover {
  height: 20vh;
  width: 20vh;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}